In [1]:
import pandas as pd


# Read the model labels and true labels from CSV files
true_labels = pd.read_csv(r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Output\Original\pred_labels_original.csv')
mnb_labels = pd.read_csv(r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Output\Original\pred_labels_mnb.csv')
cnn_labels = pd.read_csv(r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Output\Original\pred_lables_cnn.csv')
bert_labels = pd.read_csv(r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Output\Original\test_pred_bert.csv')
roberta_labels = pd.read_csv(r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Output\Original\test_pred_roberta.csv')
electra_labels = pd.read_csv(r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Output\Original\test_pred_electra.csv')
xlnet_labels = pd.read_csv(r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Output\Original\test_pred_xlnet.csv')

def calculate_misclassifications(true_labels, predicted_labels, label):
    misclassifications = 0
    for true_label, predicted_label in zip(true_labels, predicted_labels):
        if true_label == label and true_label != predicted_label:
            misclassifications += 1
    return misclassifications

# Assuming you have the model predictions and true labels in the format mentioned above
model_predictions = [
    mnb_labels['Predicted Label'].tolist(),
    cnn_labels['Predicted Label'].tolist(),
    bert_labels['Predicted Label'].tolist(),
    roberta_labels['Predicted Label'].tolist(),
    electra_labels['Predicted Label'].tolist(),
    xlnet_labels['Predicted Label'].tolist(),
]
model_names = ['MNB', 'CNN', 'BERT', 'ROBERTA', 'ELECTRA', 'XLNet']

# true_labels_df = pd.DataFrame({'Original Label': true_labels})  # Convert true_labels to a DataFrame

true_labels = true_labels['Original Label'].tolist() # Access the 'Original Label' column


# Define label names and their corresponding numeric values
label_names = [0, 1, 2]  # Replace with your actual label names
label_mapping = {label: name for label, name in zip(set(true_labels), label_names)}

labels = label_names  # Use label names instead of numeric values
misclassifications = {label: [] for label in labels}

for label in labels:
    for predicted_labels in model_predictions:
        misclassifications[label].append(calculate_misclassifications(true_labels, predicted_labels, label))

# Store the misclassification values in a DataFrame
df = pd.DataFrame(misclassifications, index=model_names)

# Calculate the percentage of misclassification for each model and each label
total_samples = len(true_labels)
percentage_misclassifications = {label: [] for label in labels}

for label in labels:
    for misclassifications_list in misclassifications[label]:
        percentage = (misclassifications_list / total_samples) * 100
        percentage_misclassifications[label].append(percentage)

# Store the percentage of misclassification in another DataFrame
percentage_df = pd.DataFrame(percentage_misclassifications, index=model_names)

# Calculate overall misclassification percentage for each model
percentage_df['Overall'] = percentage_df.mean(axis=1)

print(percentage_df)

             0      1      2    Overall
MNB      32.35   8.10  14.50  18.316667
CNN       2.35  16.55  22.35  13.750000
BERT     22.95  13.75  17.10  17.933333
ROBERTA  22.35  14.25  17.25  17.950000
ELECTRA  23.30  14.70  17.00  18.333333
XLNet    22.20  14.35  17.80  18.116667

In [2]:
df

           0    1    2
MNB      647  162  290
CNN       47  331  447
BERT     459  275  342
ROBERTA  447  285  345
ELECTRA  466  294  340
XLNet    444  287  356

In [3]:
percentage_df

             0      1      2    Overall
MNB      32.35   8.10  14.50  18.316667
CNN       2.35  16.55  22.35  13.750000
BERT     22.95  13.75  17.10  17.933333
ROBERTA  22.35  14.25  17.25  17.950000
ELECTRA  23.30  14.70  17.00  18.333333
XLNet    22.20  14.35  17.80  18.116667