In [1]:
import pandas as pd
import pyarrow.parquet as pq
from sklearn.model_selection import train_test_split

In [2]:
df_hypothesis = pd.read_csv(r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Data\predicted_hypo.csv')
df_premises_1000 = pd.read_csv(r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Data\predicted_prem_1000.csv')
df_premises_2000 = pd.read_csv(r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Data\predicted_prem_2000.csv')

In [3]:
df_premises = pd.concat([df_premises_1000, df_premises_2000], axis=0)
df_premises = df_premises.reset_index(drop=True)

In [4]:
df = pd.concat([df_premises, df_hypothesis], axis=1)

In [5]:
df.head(2)

,Predicted French premises,Predicted French Hypothesis
0,Emily Ratajkowski. La carrière de mannequinage...,Emily Ratajkowski a modélisé pour les publicit...
1,National▁Recording▁Registry. Les enregistremen...,Red Headed▁Stranger est une œuvre.

In [6]:
filepath  = r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Data\fr_fever-00000-of-00001-b7ec330d6224f90b.parquet' 
table = pq.read_table(filepath)
df_o = table.to_pandas()

In [7]:
df_o.head(2)

,premise_original,hypothesis_original,label,premise,hypothesis
0,Islam . Sizable Muslim communities are also fo...,Islam does not have any followers.,2,Des communautés musulmanes considérables se tr...,L’islam n’a pas d’adeptes.
1,Gemini is a 2002 Indian Tamil-language action ...,Gemini is a movie that came out in 2002.,0,Gemini est un film d'action indien écrit et ré...,Gemini est un film sorti en 2002.

In [8]:
#Splitting hypothesis
english_train_hyp, english_test_hyp, french_train_hyp, french_test_hyp, train_labels, test_labels = train_test_split(df_o['hypothesis_original'], df_o['hypothesis'],df_o['label'],
                                                                                          test_size = 0.2, random_state = 42)

In [9]:
test_labels.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [10]:
test_labels = test_labels.astype('int64')
df['label'] = test_labels

In [11]:
new_column_names = {'Predicted French premises': 'premise', 'Predicted French Hypothesis': 'hypothesis'}
df.rename(columns=new_column_names, inplace=True)

In [12]:
df.head(2)

,premise,hypothesis,label
0,Emily Ratajkowski. La carrière de mannequinage...,Emily Ratajkowski a modélisé pour les publicit...,0
1,National▁Recording▁Registry. Les enregistremen...,Red Headed▁Stranger est une œuvre.,0

In [13]:
file_path = r'D:\UWaterloo\MSCI_641_Text_Analytics\Project\Output\pred_df.csv'
df.to_csv(file_path, index = False)
print('Exported Final df successsfully')

Exported Final df successsfully